<h2>Login Form</h2>

<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="././assets/img/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <!-- <label for="uname"><b>Username</b></label> -->
    <!-- <input type="text" placeholder="Enter Username" name="uname" required> -->
    <mat-form-field class="example-full-width" style="width:98%">
      <input matInput placeholder="Username">
    </mat-form-field>

    <!-- <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required> -->
    <mat-form-field class="example-full-width" style="width:98%">
      <input matInput placeholder="Password">
    </mat-form-field>
        
    <!-- <button type="submit"><a href="/dashboard">Login</a></button> -->
    <button mat-raised-button color="success">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>